body
{
	margin: 0px;
	padding: 10px;
	background-color: #c6d4fa;
}

textarea
{
	resize: none;
	border: #b0b7ff 3px solid;
	background-color: #e8eaff;
	padding: 5px;
	margin: 0px;
}

textarea:focus, button#validate:focus
{
	background-color: lightgrey;
}

section#in_form
{
	display: flex;
	justify-content: space-between;
}


textarea#in_text
{
	width: calc(100% - 125px);
	margin: 0px;
	height:200px;
}

button#validate
{
	width: 100px;
	height: 215px;
}

textarea#out_text
{
	margin: 0px;
	margin-top: 5px;
	width: calc(100% - 15px);
	height: 200px;
}

button#focus_looper
{
	margin-top: 10px;
}
