html
{
    height: 100%;
}

body
{
    height: calc(100% - 20px);
	margin: 0px;
	padding: 10px;
	background-color: #c6d4fa;
}

textarea
{
	resize: none;
	border: #b0b7ff 3px solid;
	background-color: #e8eaff;
	padding: 5px;
	margin: 0px;
}

textarea:focus, button#validate:focus
{
	background-color: lightgrey;
}

section#in_form
{
	display: flex;
	justify-content: space-between;
    height: 25%;
}


textarea#in_text
{
	width: calc(88%);
	margin: 0px;
	height: calc (100% - 3px);
}

button#validate
{
	width: 10%;
	height: calc (100% - 3px);
}

textarea#out_text
{
	margin: 0px;
	margin-top: 5px;
	width: calc(100% - 15px);
    height: 25%;
}

button#focus_looper
{
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea#helper
{
    width: calc(100% - 15px);
	height: calc(50% - 85px);
	border: grey 3px solid;
	background-color: #e8eaff;
	opacity: 0.5;
}
